.media-play{
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 100;
  height: 65px;
  width: 100%;
  background-color: #1d1924;
  color: azure;
}

.media-play-control{
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.media-play-detail{
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.media-play-detail .song-thumb{
  width: 46px;
  border-radius: 3px;
  overflow: hidden;
}

.media-play-detail .song-thumb a{
  display: inline-block;
  width: 100%;
}

.media-play-detail .song-thumb a img{
  max-width: 100%;
}

.media-play-detail .song-wrap{
  width: 100%;
  font-size: 12px;
  padding: 0 10px;
}

.media-play-detail .song-wrap .song-info{
  display: flex;
}

.media-play-detail .song-wrap .song-info .song-info-name{
  width: 100%;
  max-width: 430px;
  white-space: nowrap;
}

.media-play-detail .song-wrap .song-info .song-info-time{
  white-space: nowrap;
}

.media-play-detail .song-wrap .song-player-time{
  height: 3px;
  background-color: #a0a0a0;
  margin-top: 5px;
  position: relative;
  cursor: pointer;
  transition: height .1s;
}

.media-play-detail .song-wrap .song-player-time:hover{
  height: 5px;
}

.song-player-time .player-time-fill{
  position: absolute;
  left: 0;
  top: 0;
  background-color: #815fdd;
  width: 0;
  height: inherit;
}

.song-player-time .player-time-fill:before{
  position: inherit;
  content: "";
  right: -5px;
  top: 0;
  height: 10px;
  width: 10px;
  transform: translateY(-25%);
  border-radius: 50%;
  background-color: #815fdd;
  display: none;
}
 
.song-player-time:hover .player-time-fill:before{
  display: inline-block;
}

.song-feature{
  display: flex;
  align-items: center;
  font-size: 20px;
}

.song-feature .song-volume{
  cursor: pointer;
  margin-left: 10px;
  position: relative;
}

.song-feature .song-volume .song-volume-pop{  
  content: "";
  position: absolute;
  bottom: 48px;
  width: 30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #2e2e2e;
  height: 130px;
  border-radius: 3px;
  display: none;;
}

.song-feature .song-volume .song-volume-pop.active{
  display: inline-block;
}

.song-feature .song-volume .song-volume-pop .volume-pop-wrap{
  top: 10px;
  left: 13.5px;
  height: 110px;
  width: 3px;
  position: relative;
  background-color: #8a6fd6;
}

.song-feature .song-volume .song-volume-pop .volume-pop-wrap .volume-pop-fill{
  position: absolute;
  top: 0;
  width: 3px;
  height: 80%;
  background-color: #ddd;
}

.song-feature .song-volume .song-volume-pop .volume-pop-wrap .volume-pop-fill:before{
  content: "";
  position: inherit;
  bottom: -5px;
  right: -4px;
  width: 11px;
  height: 11px;
  background-color: #8a6fd6;
  border-radius: 50%;
  border: 1px solid #8a6fd6;
  outline: 0;
}

.song-feature .song-speed{
  cursor: pointer;
  margin-left: 10px;
  position: relative;
}

.song-feature .song-speed .song-speed-pop{
  content: "";
  position: absolute;
  bottom: 48px;
  width: 60px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #2e2e2e;
  height: 130px;
  border-radius: 3px;
  font-size: 12px;
  padding: 12px 0;
  line-height: 1.8;
  display: none;
}

.song-feature .song-speed .song-speed-pop.active{
  display: inline-block;
}

.song-feature .song-speed .song-speed-pop span{
  display: inline-block;
  width: 100%;
  padding: 0px 15px 0 18px;
  position: relative;
}

.song-feature .song-speed .song-speed-pop span:hover{
  color: #8a6fd6;
}

.song-feature .song-speed .song-speed-pop span.active{
  color: #8a6fd6;
}

.song-feature .song-speed .song-speed-pop span:before{
  content: "";
  position: absolute;
  left: 10px;
  top: 8px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #8a6fd6;
  display: none;
}

.song-feature .song-speed .song-speed-pop span.active::before{
  color: #8a6fd6;
  display: inline-block;
}

.control {
  cursor: pointer;
  font-size: 20px;
  line-height: 0;
  margin: 0 10px;
  transition: color .3s;
}

.control:hover{
  color: #815fdd;
}

.control-play{
  margin: 0 10px;
  font-size: 35px;
}

.control-random{
  font-size: 30px;
}

.control-repeat{
  font-size: 22px;
}


.media-play-list{
  display: inline-block;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  width: 100%;
  background-color: rgba(219,219,219,.05);
  line-height: 0;
  padding: 5px 15px;
  border-radius: 3px;
  cursor: pointer;
}

.media-play-list span{
  font-size: 13px;
  margin-left: 5px;
}

.media-play-list-pop{
  position: absolute;
  width: 320px;
  max-height: 400px;
  height: 300px;
  right: 10px;
  bottom: 48px;
  background: #fff;
  box-shadow: 0 0 2px 0px rgba(0, 0, 0, .7);
  border-radius: 3px;
  transform: translateX(100%);
  transition: transform .5s ease-in-out, opacity .5s ease-in-out;
  opacity: 0;
}

.media-play-list-pop.active{
  transform: translateX(0);
  opacity: 1;
}

.media-play-list-pop .play-list-item .media-play-detail{
  height: 50px;
}


.play-list-item{
  padding-left: 0;
  color: #000;
  list-style: none;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
}

.play-list-item::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #f5f5f5;
	border-radius: 10px;
}

.play-list-item::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.play-list-item::-webkit-scrollbar-thumb
{
	border-radius: 10px;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgb(156, 84, 202)), color-stop(0.72, rgb(186, 76, 236)), color-stop(0.86, rgb(197, 79, 227)));
}

.play-list-item li{
  cursor: pointer;
  padding: 0 25px;
  transition: background-color .2s, color .2s;
  border-bottom: 1px solid rgba(129, 95, 221, .3);
}

.play-list-item li:last-child{
  border-bottom: none;
}

.play-list-item li:hover{
  background-color: rgba(129, 95, 221, .7);
  color: #fff;
}

.play-list-item .song-wrap .song-info{
  flex-wrap: wrap;
}

.play-list-item .song-time{
  font-size: 12px;
}

@media (max-width: 426px){
  .media-play-list{
    margin-left: -8px;
    padding: 5px;
  }
  .media-play-list .play-list-amount{
    margin-left: 0;
    font-size: 12px;
  }
  .media-play-detail .song-wrap{
    margin-left: 0;
  }
  .media-play-detail .song-wrap .song-player-time{
    margin-top: 0;
  }
  .control {
    font-size: 15px;
    margin: 0;
  }
  .control-play{
    font-size: 25px;
    margin: 0 5px;
  }
  .control-forward{
    margin: 0;
  }
}

@media (max-width: 375px){
  .control-play{
    margin: 0 5px;
  }
}