.new-update .title{
  color: #65509e;
}
.new-update .content .thumb{
  min-width: 30px;
  min-height: 30px;
  width: 30px;
  display: inline-block
}

.new-update .content .thumb img{
  width: 100%;
  height: 100%;
}

.new-update .content .info{
  font-size: 14px;
  display: flex;
  flex-grow: 1;
}

.new-update .content .info .title{
  font-size: 14px;
  flex-grow: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 30%;
  margin-top: 1px;
}

.new-update .content .info .title a{
  display: inline-block;
  width: 100%;
  color: #65509e;
}
.new-update .content .info .title a:hover{
  color: #815fdd;
}

.new-update .content .info .name{
  flex-grow: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 30%;
  color: #000;
}

.new-update .content .info .chap{
  width: 20%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.new-update .content .info .chap a{
  color: #65509e;
}

.new-update .content .info .chap a:hover{
  color: #815fdd;
}

.new-update .content .info .time{
  white-space: nowrap;
  color: #999;
}

@media (max-width: 768px){
  .new-update  .list-group .list-group-item{
    width: 50%;
  }
  .new-update  .content .thumb{
    min-width: 55px;
  }
  .new-update  .content .info{
    flex-direction: column;
  }
  .new-update  .content .info .title{
    width: 100%;
    font-size: 13px;
  }
  .new-update  .content .info .name{
    width: 100%;
    font-size: 12px;
  }
  .new-update .content .info .chap{
    width: 100%;
    font-size: 10px;
  }
  .new-update  .content .info .author{
    width: 100%;
    font-size: 10px;
  }
  .new-update  .content .info .time{
    width: 100%;
    font-size: 7px;
  }

  .new-update  .list-group{
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (max-width: 426px){
  .new-update .list-group{
    flex-direction: column;
  }

  .new-update .content .thumb{
    min-width: 90px;
  }
  .new-update .content .info{
    flex-direction: column;
  }
  .new-update .content .info .title{
    font-size: 19px;
  }
  .new-update .content .info .name{
    width: 100%;
    font-size: 17px;
  }
  .new-update .content .info .author{
    width: 100%;
    font-size: 15px;
  }
  .new-update .content .info .time{
    width: 100%;
    font-size: 13px;
  }
}